In [1]:
list_with_students = ['Ihor', 'Євген', 'Анна', 'Дмитро', 'Катерина', 'Лідія']

for student in list_with_students:
    print(student)

Ihor
Євген
Анна
Дмитро
Катерина
Лідія

In [4]:
for i in range(len(list_with_students)):
    print(i, list_with_students[i])

0 Ihor
1 Євген
2 Анна
3 Дмитро
4 Катерина
5 Лідія

In [5]:
set_with_students = {'Ihor', 'Євген', 'Анна', 'Дмитро', 'Катерина', 'Лідія'}

for name in set_with_students:
    print(name)

Дмитро
Євген
Лідія
Ihor
Анна
Катерина

In [6]:
set_with_students[0]

TypeError: 'set' object is not subscriptable

In [9]:
parking = {'Place 1': 'Car 1 #4850',
            'Place 2': 'Car 10 #1234',
            'Place 3': 'Car 20 #6789',
            'Place 4': 'Car 56 #3187'
          }

for obj in parking:
    print(obj, parking[obj])

Place 1 Car 1 #4850
Place 2 Car 10 #1234
Place 3 Car 20 #6789
Place 4 Car 56 #3187

In [11]:
for k,v in parking.items():
    print(k, v)

Place 1 Car 1 #4850
Place 2 Car 10 #1234
Place 3 Car 20 #6789
Place 4 Car 56 #3187

In [12]:
import random

In [26]:
random.choice([1, 2, 3])

1

In [28]:
# Користувач вводить два цілих числа A і B (при цьому A ≤ B). Виведіть всі
# числа від A до B включно

A = int(input())
B = int(input())

while A <= B:
    print(A)
    A += 1

1
5
1
2
3
4
5

In [29]:
A = int(input())
B = int(input())

#range(START, STOP, STEP)

for i in range(A, B+1):
    print(i)

1
5
1
2
3
4
5

In [30]:
# Користувач вводить 10 цілих чисел. Виведіть суму цих чисел
data = []

for _ in range(5):
    number = int(input())
    data.append(number)
    
print(sum(data))

1
2
3
4
5
15

In [36]:
# Заповніть список випадковими цілими числами (к-сть довільна). Виведіть
# лише парні числа; виведіть індекси непарних чисел

import random

data = []

for _ in range(10):
    random_number = random.randrange(1000)
    data.append(random_number)

In [38]:
data

[681, 928, 893, 353, 956, 175, 501, 278, 472, 356]

In [39]:
for i in data:
    if i % 2 == 0:
        print(i)

928
956
278
472
356

In [40]:
for i in range(len(data)):
    if data[i] % 2 != 0:
        print(i, data[i])

0 681
2 893
3 353
5 175
6 501

In [41]:
# 1, 1, 2, 3, 5, 8, 13, 21 ...

N = 10

a, b = 1, 1

for _ in range(N):
    
    print(a)
    
    a, b = b, a + b

1
1
2
3
5
8
13
21
34
55

In [52]:
# 1 23 5 12 9 17 10 2
data = input().split()
data

1 23 5 12 9 17 10 2

['1', '23', '5', '12', '9', '17', '10', '2']

In [53]:
for i in range(len(data)):
    data[i] = int(data[i])

data.sort()
data

[1, 2, 5, 9, 10, 12, 17, 23]

In [54]:
import statistics
statistics.median(data)

9.5

In [57]:
if len(data) % 2 == 0:
    left_index = int(len(data) / 2) - 1 
    right_index = int(len(data) / 2)
    m = (data[left_index] + data[right_index]) / 2
else:
    inx = len(data) // 2
    m = data[inx]
    
print(m)

9.5

In [60]:
def is_prime(N):
    for i in range(2, N):
        if N % i == 0:
            return False
    return True

# 1 23 5 12 9 17 10 2
qty = 0

data = input().split()

for i in range(len(data)):
    if is_prime(int(data[i])):
        qty +=1
        
print(qty)

1 23 5 12 9 17 10 2
5

Напишіть програму "Митниця". 

Алгоритм її роботи наступний: програма на вхід получає імена людей, що перетинають кордон. 
	Ввід закінчується тоді, коли введено слово "END"
	При завершені роботи, програма виводить ім’я людини та кількість перетинів кордону.

In [61]:
DB = {}

STRING_Q = 'Хто перетинає кордон?'

while True:
    print(STRING_Q)
    info = input()
    
    if info.lower() == 'end':
        break
    
    if info in DB:
        DB[info] += 1
    else:
        DB[info] = 1
        
for k, v in DB.items():
    print(k, v)

Хто перетинає кордон?
Дмитро
Хто перетинає кордон?
Настя
Хто перетинає кордон?
Антон
Хто перетинає кордон?
Настя
Хто перетинає кордон?
Дмитро
Хто перетинає кордон?
Антон
Хто перетинає кордон?
Антон
Хто перетинає кордон?
Ігор
Хто перетинає кордон?
end
Дмитро 2
Настя 2
Антон 3
Ігор 1

In [62]:
from datetime import datetime
DB = []

STRING_Q = 'Хто перетинає кордон?'

while True:
    print(STRING_Q)
    info = input()
    
    if info.lower() == 'end':
        break
    
    record = (info, datetime.now())
    
    DB.append(record)

Хто перетинає кордон?
Настя
Хто перетинає кордон?
Ігор
Хто перетинає кордон?
Антон
Хто перетинає кордон?
Настя
Хто перетинає кордон?
Ігор
Хто перетинає кордон?
Дмитро
Хто перетинає кордон?
Антон
Хто перетинає кордон?
Настя
Хто перетинає кордон?
end

In [63]:
DB

[('Настя', datetime.datetime(2021, 7, 14, 20, 15, 12, 796430)),
 ('Ігор', datetime.datetime(2021, 7, 14, 20, 15, 14, 385147)),
 ('Антон', datetime.datetime(2021, 7, 14, 20, 15, 15, 907560)),
 ('Настя', datetime.datetime(2021, 7, 14, 20, 15, 17, 352604)),
 ('Ігор', datetime.datetime(2021, 7, 14, 20, 15, 19, 329272)),
 ('Дмитро', datetime.datetime(2021, 7, 14, 20, 15, 22, 862689)),
 ('Антон', datetime.datetime(2021, 7, 14, 20, 15, 25, 169530)),
 ('Настя', datetime.datetime(2021, 7, 14, 20, 15, 27, 976265))]

In [64]:
name = input('Введіть імя для аналітики')

qty = 0
for record in DB:
    if record[0] == name:
        qty += 1
        
print(f'{name} перетнув(ла) кордон {qty}')

Введіть імя для аналітикиНастя
Настя перетнув(ла) кордон 3

In [69]:
try:
    super_formula = 1/0
except:
    super_formula = float('nan')
    
print("Результат супер формули = ", super_formula)

Результат супер формули =  nan

In [70]:
try:
    super_formula = 1/0
except Exception as e:
    print('Помилка: ', e)
    super_formula = float('nan')
    
print("Результат супер формули = ", super_formula)

Помилка:  division by zero
Результат супер формули =  nan

In [72]:
float('dfg')

ValueError: could not convert string to float: 'dfg'

In [86]:
import time
a = input()
b = input()

try:
    super_formula = float(a)/float(b)
except ZeroDivisionError:
    print('На нуль ділити не можна')
    
    super_formula = float('nan')
except ValueError:
    print('Не коректно введено дані')
    super_formula = float('nan')
else:
    print("Дані обчислюються")
    time.sleep(5)
finally:
    print("Результат супер формули = ", super_formula)

1
0
На нуль ділити не можна
Результат супер формули =  0.5

ZeroDivisionError:

In [84]:
type(float('inf'))

float

Створіть матрицю чисел 3х4. Заповніть її цілими числами від 0 до 10. Знайдіть:
		- Суму всіх чисел матриці.
		- Максимальний елемент.
		- Суму чисел в першому рядку.
		- Мінімальний елемент в  другому стовбці.
        - Максимальний елемент по головній діагоналі (діагональ, що проходить через лівий верхній та правий нижній кути).

In [2]:
import random 

matrixe = []
for i in range(3):
    row = []
    for j in range(4):
        row.append(random.randrange(10))
    matrixe.append(row)
    
for row in matrixe:
    print(row)

[1, 3, 0, 5]
[0, 1, 2, 5]
[8, 9, 2, 4]

In [3]:
# Суму всіх чисел матриці.

matrixe_sum = 0

for row in matrixe:
    matrixe_sum += sum(row)
    
matrixe_sum

40

In [6]:
# Максимальний елемент
matrixe_max = matrixe[0][0]

for row in matrixe:
    for j in row:
        if j > matrixe_max:
            matrixe_max = j
            
print('Max = ', matrixe_max)

Max =  9

In [7]:
# Суму чисел в першому рядку

sum(matrixe[0])

9

In [10]:
# Мінімальний елемент в  другому стовбці.

row_min = matrixe[0][1]

for row in matrixe:
    if row[1] < row_min:
        row_min = row[1]

print(row_min)

1

In [14]:
# Максимальний елемент по головній діагоналі (діагональ, що проходить через лівий верхній та правий нижній кути)
diag_max = matrixe[0][0]

for i in range(len(matrixe)):
    for j in range(len(matrixe[i])):
        if i == j:
            if matrixe[i][j] > diag_max:
                diag_max = matrixe[i][j]
                
print(diag_max)

2

In [15]:
for i in range(len(matrixe)):
    print(matrixe[i][i])

1
1
2

In [28]:
x = [(100,2), (-1,2), (1,4), (1000,2000), (-1,2), (25,1000)]

In [29]:
def my_max(el):
    return el[1]
    



max(x, key = my_max)

(1000, 2000)

In [30]:
max(x, key = lambda el: el[1] )

(1000, 2000)

In [32]:
def my_max(el):
    return el[1] + el[0]
    

max(x, key = my_max)

(1000, 2000)

In [35]:
def qty_even(el):
    qty = 0
    for i in el:
        if i % 2 == 0:
            qty += 1
            
    return qty

sorted(x, key=qty_even)

[(-1, 2), (1, 4), (-1, 2), (25, 1000), (100, 2), (1000, 2000)]

In [36]:
parking = {'Place 1': 200,
            'Place 2': 300,
            'Place 3': 150,
            'Place 4': 130 
          }

In [42]:
sorted(parking, key = lambda k: parking[k])

['Place 4', 'Place 3', 'Place 1', 'Place 2']

In [43]:
y = [1, 2, 3, 4]


new_y = []

for el in y:
    new_y.append(el**2)
    
new_y

[1, 4, 9, 16]

In [47]:
list(map(lambda el: el**2, y))

[1, 4, 9, 16]

In [48]:
y = ['1', '23', '5', '12', '9', '17', '10', '2']

In [51]:
list(map(lambda el: el+' $', y))

['1 $', '23 $', '5 $', '12 $', '9 $', '17 $', '10 $', '2 $']

In [53]:
y = ['1', '23', '5', '12', '9', '17', '10', '2']

list(filter(lambda el: int(el) % 2 == 0 , y))

['12', '10', '2']

In [ ]:
y = ['1', '23', '5', '12', '9', '17', '10', '2']

In [57]:
[int(el)  for el in y if int(el) % 2 == 0]

[12, 10, 2]

1. Дана послідовність чисел. Піднесіть всі елементи до квадрату та
виведіть список

In [59]:
y = [1, 2, 3, 4, 7, 9, 0]

In [60]:
list(map(lambda el: el**2, y))

[1, 4, 9, 16, 49, 81, 0]

In [64]:
[ell**2 for ell in y]

[1, 4, 9, 16, 49, 81, 0]

2. Напишіть функцію, що приймає координати двох точок та
виводить відстань між ними

In [85]:
import math
BANKS = {'BANK_1' : (53, 54),
         'BANK_2' : (19, 13),
         'BANK_3' : (25, 66)
        }



def distance(user_location, bank_location):
    distance = math.sqrt(
        (user_location[0] - bank_location[0])**2 + (user_location[1] - bank_location[1])**2)
    return distance

user_location = [int(el) for el in input().split()]

min_distance = float('inf')
name_bank_with_min_dist = None

for bank, b_l in BANKS.items():
    dis = distance(user_location, b_l)
    if dis < min_distance:
        min_distance = dis
        name_bank_with_min_dist = bank
        
print(f'Найближче віділення {name_bank_with_min_dist} за {round(min_distance, 1)} км')

200 200
Найближче віділення BANK_1 за 207.2 км

3. Дана послідовність натуральних чисел. Відфільтруйте та виведіть
лише прості числа

In [87]:
def is_prime(N):
    if N == 1:
        return False
    for i in range(2, N):
        if N % i == 0:
            return False
    return True

y = [1, 2, 34, 56, 7, 89]

list(filter(is_prime, y))

[2, 7, 89]

4. Дано список, елементи якого є слова. Змініть літеру кожного слова
на велику та виведіть отриманий список

In [88]:
list_with_students = ['Ihor', 'Євген', 'Анна', 'Дмитро', 'Катерина', 'Лідія']

[name.upper() for name in list_with_students]

['IHOR', 'ЄВГЕН', 'АННА', 'ДМИТРО', 'КАТЕРИНА', 'ЛІДІЯ']

In [91]:
list(map(str.upper, list_with_students))

['IHOR', 'ЄВГЕН', 'АННА', 'ДМИТРО', 'КАТЕРИНА', 'ЛІДІЯ']

In [92]:
list(map(lambda name: name.upper(), list_with_students))

['IHOR', 'ЄВГЕН', 'АННА', 'ДМИТРО', 'КАТЕРИНА', 'ЛІДІЯ']

In [94]:
def foo(*a):
    print(a)
    
foo(1, 3, 6, 10)

(1, 3, 6, 10)